/* Estilos generales */
html, body {
    height: 100%;
}

/* Modificar el modelo de cajas css */
html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

*, *::before, *::after {
    box-sizing: inherit;
}

/* Resetear margenes y padding */
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Kanit', sans-serif;
    font-weight: bold;
}

/* Header */
i.mainIcon {
    color: #fff;
    font-size: 3rem;
    padding: 15px 0;
}

.container {
    width: 93%;
    margin: 0 auto;
}

header {
    background-color: rgb(20, 1, 39);
    border-bottom: 1px solid rgb(217, 233, 0);
}

#navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#navigation p {
    color: #fff;
    font-size: 1.9rem;
}

#nav {
    display: flex;
    justify-content: flex-end;
    list-style: none;
}

#nav li a {
    text-decoration: none;
    color: #fff;
    padding: 25px 0.9em;
    display: inline-block;
    letter-spacing: 0.1rem;
}

#nav li a:hover {
    background-color: rgb(67, 0, 129);
    border-radius: 10%;
    transition: all 0.5s ease-in;
}

.htmltag::after {
    content: " >";
    color: rgb(217, 233, 0);
}

.htmltag::before {
    content: "< ";
    color: rgb(217, 233, 0);
}

section:nth-child(1) {
    background-image: linear-gradient(rgba(34, 2, 66, 0.9), rgba(0, 7, 6, 0.8)), url(../images/background.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

/* INTRO */
#introduction {
    height: 100%;
    min-height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#introduction div {
    text-align: center;

}

#introduction h1 {
    color: #fff;
    margin: 40px 0;
    font-size: 2.2rem;
    font-weight: bold;
    letter-spacing: 0.4rem;
}

.rounded {
    height: 25rem;
    width: 25rem;
    border-radius: 50%;
    border: 5px solid #fff;
}

#introduction h2 {
    color: #fff;
    font-family: 'Press Start 2P';
    font-size: 1.5rem;
    margin: 40px 0px 49px 0px;
    letter-spacing: 0.4rem;
    text-transform: uppercase;
}

#introduction .lastH2 {
    margin-bottom: 50px;
    font-size: 1rem;
    margin-bottom: 23px;
    margin-top: 4px;
}

/* ABOUT ME */
section:nth-child(2) {
    background-color: rgb(10, 0, 19);
}

#aboutme {
    display: flex;
    flex-wrap: wrap;
    padding: 12px 0;
}

#aboutme h1 {
    font-size: 1.4rem;
    margin-bottom: 30px;
    margin-top: 30px;
    color: rgb(176, 255, 111);
    font-family: 'Press Start 2P';
    text-transform: uppercase;
}

#aboutmeImage {
    display: flex;
    float: left;
    min-width: 250px;
    border-radius: 10%;
    width: 30rem;
    margin-right: 50px;
    margin-bottom: 15px;
}

#aboutmeletter {
    align-items: center;
    height: auto;
    float: right;
    width: 100%;
}

#aboutmeletter h1 i {
    font-size: 2.9rem;
}

#aboutmeletter h2 {
    font-size: 2rem;
    padding-bottom: 5px;
    color: rgb(221, 104, 250);
}

#aboutmeletter p {
    padding-bottom: 5px;
    font-weight: normal;
    text-align: justify;
    color: #fff;
}

#aboutmeletter p a {
    text-decoration: none;
    color: #fff;
    font-size: 1.25rem;
}

#aboutmeletter p a:hover {
    color: rgb(221, 104, 250);
}
#galeryButton{
    margin-top: 20px;
    margin-bottom: 20px;
    display: inline-block;
    justify-content: center;
    display: flex;
}


/* Education */
section:nth-child(3) {
    background-color: rgb(10, 0, 19);
}

#education.container {
    padding: 20px 0;
}

#education h1 {
    font-size: 1.4rem;
    margin-bottom: 30px;
    margin-top: 30px;
    color: rgb(176, 255, 111);
    font-family: 'Press Start 2P';
    text-transform: uppercase;
}

#education h1 i {
    font-size: 2.9rem;
}

#studiesIcons {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-bottom: 30px;
}

.studyDate i {
    font-size: 0.1rem;
}

.studyIcon {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 420px;
}

.studyIcon p i {
    font-size: 1.5rem;
}

.studyIcon h3 {
    color: rgb(221, 104, 250);
    font-size: 2rem;
    margin-bottom: 8px;
}

.studyIcon img {
    max-width: 200px;
}

.studyIcon i {
    color: #fff;
    font-size: 2.5rem;
    margin-bottom: 5px;
}

.studyIcon .dateIcon p {
    font-size: 1rem;
    color: #fff;
    display: inline-block;
    margin: auto;
    border-radius: 10%;
    border: 1px solid;
    padding: 10px 10px;
    margin: 20px 0;
}

.studyIcon p {
    font-size: 1rem;
    color: #fff;
}

/* skills */
section:nth-child(4) {
    background-color: rgb(10, 0, 19);
}

#skillsContainer {
    display: flex;
    flex-direction: row;
}

#courseList {
    flex-basis: 25%;
}

#skillsCourses h1 {
    font-size: 1.4rem;
    margin-bottom: 50px;
    padding-top: 30px;
    color: rgb(176, 255, 111);
    font-family: 'Press Start 2P';
    text-transform: uppercase;
    letter-spacing: 0.rem;
}

.skillBlock {
    flex-direction: row;
    flex-wrap: wrap;
    max-height: 0;
    overflow: hidden;
    padding-left: 1.2rem;
    padding-right: 1.8rem;
    transition: max-height 0.7s ease-out;
}

#skillsCourses h1 i {
    font-size: 2.9rem;
}

#skillList {
    display: flex;
    flex-direction: column;
    flex-basis: 75%;
}

#skillList h4 {
    font-size: 1.4rem;
    color: rgb(221, 104, 250);
}

a.accordion {
    font-size: 1.4rem;
    color: rgb(221, 104, 250);
    cursor: pointer;
    background-color: #0f1846;
    display: inline-block;
    padding: 13px 1.5rem;
    border-radius: 10px;
    margin-bottom: 12px;
    margin-right: 3rem;
}

a.accordion:after {
    content: '>';
    color: #fff;
    float: right;
    margin-left: 5px;
}

.active a.accordion:hover {
    color: rgb(241, 185, 255);
    background-color: #2c3563;
    ;
}

.skill {
    display: flex;
    flex-direction: column;
    padding: 10px 0;
    min-width: 50%;
}

.skillGraphics {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.skill img {
    max-width: 44px;
}

.skillImage {
    display: flex;
}

.progressBar {
    width: 100%;
    padding: 0 40px;
    padding-left: 20px;
    color: #fff;
}

.details {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.bar {
    position: relative;
    border: 2px solid #0d96e0;
    border-radius: 20px;

}

.bar div {
    position: relative;
    width: 0;
    height: 9px;
    border-radius: 10px;
    background-color: #30e00d;
}

#courseList h3 {
    color: rgb(221, 104, 250);
    font-size: 1.9rem;
}

#courseList ul {
    padding: 10px 1rem;
}

#courseList ul {
    color: #fff;
    font-size: 1rem;
    padding-bottom: 5px;
}

#courseList h4 {
    padding-top: 1px;
    color: #fff;
    margin-bottom: 5px;
}

.courseDescriptionContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.courseDescriptionContainer p {
    font-size: 0.9rem;
    font-weight: lighter;
    padding-left: 20px;
}

.courseDescriptionContainer img {
    width: 50px;
    padding-left: 10px;
}

#certifications h3 {
    color: rgb(221, 104, 250);
    font-size: 1.9rem;
    margin-top: 20px;
    margin-bottom: 20px;
}
#certificationsContainer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-bottom: 20px;
    justify-content: space-around;
}
.certification{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 200px;
}
.certification p{
    text-align: center;
    color: #fff;
    font-size: 1.5rem;
}

/* Experience */

section:nth-child(5) {
    background-color: rgb(10, 0, 19);
}

#experience{
    padding-bottom: 10px;
}
#experience h1 {
    font-size: 1.4rem;
    margin-bottom: 50px;
    padding-top: 30px;
    color: rgb(176, 255, 111);
    font-family: 'Press Start 2P';
    text-transform: uppercase;
    letter-spacing: 0.rem;
}
#experience h1 i {
    font-size: 2.9rem;
}

/* Projects */

section:nth-child(6) {
    background-color: rgb(10, 0, 19);
}
#projects{
    padding-bottom: 50px;
}
#projects h1 {
    font-size: 1.4rem;
    margin-bottom: 50px;
    padding-top: 30px;
    color: rgb(176, 255, 111);
    font-family: 'Press Start 2P';
    text-transform: uppercase;
    letter-spacing: 0.rem;
}
#projects h1 i {
    font-size: 2.9rem;
}
#projectList ul li{
    color: #fff;
}

#projects h2 {
    font-size: 1.9rem;
    color: rgb(221, 104, 250);
    text-align: center;
}

/* contact */

section:nth-child(7) {
    background-color: rgb(10, 0, 19);
}
#contact{
    padding-bottom: 50px;
}
#contact h1 {
    font-size: 1.4rem;
    margin-bottom: 50px;
    color: rgb(176, 255, 111);
    font-family: 'Press Start 2P';
    text-transform: uppercase;
    letter-spacing: 0.rem;
}
#contact h1 i {
    font-size: 2.9rem;
}
#contact h2{
    text-align: center;
    color: rgb(221, 104, 250);
}

#navbar-toogle{
    color: #fff;
    font-size: 1.5rem;
    position: absolute;
    top: 20px;
    right: 30px;
    display: none;
}


/* MEDIA QUERYS */
@media screen and (max-width:1350px) {
    #skillsContainer{
        flex-direction: column;
    }
    #skillList{
        flex-basis: 100%;
    }
    #courseList{
        flex-basis: 100%;
    }
    #courseList h3{
        margin-top: 20px;
        margin-bottom: 20px;
    }
    a.accordion{
        margin-right: 0;
    }
    .details span{
        font-size: 1.1rem;
    }
    .courseDescriptionContainer img{
        width: 56px
    }
    #skillsContainer{
        text-align: center;
    }
    #courseList h4{
        flex-basis: 100%;
    }
    .courseDescriptionContainer{
        justify-content: center;
    }
    .courseDescriptionContainer p{
        font-size: 0.8rem;
    }
    .courseDescriptionContainer img {
        width: 40px;
    }
    #courseList li {
        background-color: #0c1027;
        margin-bottom: 12px;
    }
    #courseList ul li {
        list-style: none;
    }
    #certifications h3 {
        text-align: center;
    }
}
@media screen and (max-width:1090px) {
    #nav li a {
        color: #fff;
        padding: 15px 0.5em;
        display: inline-block;
        letter-spacing: 0.1rem;
        font-size: 0.8rem;
    }
    .details span{
        font-size: 1rem;
    }
}

@media screen and (max-width:840px) {
    #navigation{
        display: block;
    }
    i.mainIcon{
        font-size: 3rem;
    }
    #nav{
        flex-direction: column;
        display: none;
    }
    .rounded{
        margin-bottom: 40px;
    }
    #navbar-toogle{
        display: block;
    }
    .details span{
        font-size: 0.6rem;
    }
    a.accordion{
        padding: 10px 1rem;
        font-size: 1rem;
    }
    .skillBlock{
        padding-right: 0.2rem;
    }
    .progressBar{
        padding-right: 1.3rem;
    }
    #experience {
        margin: 0 1rem 0 1rem;
    }
    #experience h1{
        margin-left: 1.6rem;
    }
    #projects h1{
        margin-left: 1.6rem;
    }
    #contact h1{
        margin-left: 1.6rem;
    }
    #aboutmeletter{
        padding: 0 20px;
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    #aboutmeImage{
        margin-right: 0;
    }
}

@media screen and (max-width:500px) {
    #introduction h2 {
        font-size: 0.95rem;
        margin: 25px 0 0px 0;
        letter-spacing: 0.1rem;
    }
    i.mainIcon{
        font-size: 2.4rem;
    }
    .skill{
        min-width: 100%;
    }
    .rounded{
        height: 20rem;
        width: 20rem;
    }
    #introduction h1{
        margin-bottom: 30px;
        font-size: 2rem;
        letter-spacing: 0.1rem;
    }
    #aboutmeletter{
        padding: 0 20px;
        width: 100%;
    }
    #aboutmeImage {
        width: 100%;
    }
    .certification{
        margin-top: 20px;
    }
    #experience {
        margin: 0 1.9rem 0 0.4rem;
    }
    #experience h1{
        margin-left: 1.6rem;
    }
    #projects h1{
        margin-left: 1.6rem;
    }
    .aditionalMargin h3{
        font-size: 1.2rem !important;
    }
}

@media screen and (max-width:495px){
    .rounded{
        height: 14rem;
        width: 14rem;
    }
    #introduction h2 {
        font-size: 0.7rem;
    }
}

@media screen and (max-width:460px){
    #introduction .lastH2{
        font-size: 0.7rem;
        margin-bottom: 10px;
    }
}

@media screen and (max-width:710px){
    #introduction h2 {
        font-size: 1rem;
        margin-bottom: 30px;
        margin-top: 0;
    }
}
