.timeline {
    position: relative;
    padding-left: 4rem;
    margin: 0 0 0 30px;
    color: white;
}
.timeline:before {
    content: '';
    position: absolute;
    left: 0;
    top: 5px;
    width: 4px;
    height: 90%;
    background: #cacdf0;
}
.timeline-container {
    position: relative;
    margin-bottom: 2.5rem;
}
.timeline-icon {
    position: absolute;
    left: -88px;
    top: 4px;
    width: 60px;
    height: 60px;
    border-radius: 30%;
    text-align: center;
    font-size: 2rem;
    background: #ffffff;
}
.timeline-icon img {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.timeline-icon img {
    width: 100%;
    height: 100%;
    border-radius: 20px;
}
.timeline-body {
    background: #0F1846;
    border-radius: 3px;
    padding: 20px 20px 15px;
}
.timeline-body:before {
    content: '';
    background: inherit;
    width: 20px;
    height: 20px;
    display: block;
    position: absolute;
    left: -10px;
    transform: rotate(45deg);
    border-radius: 0 0 0 2px;
}
.timeline-title {
    margin-bottom: 1.4rem;
}
.timeline-title .badge {
    background: #000;
    padding: 4px 8px;
    border-radius: 3px;
    font-size: 1.8rem;
    font-weight: bold;
    border-radius: 10px;
    border: 1px solid #fff;
}
.timeline-job{
    margin-bottom: 15px;
    text-transform: capitalize;
    font-size: 1.9rem;
}
.timeline-date {
    font-weight: 300;
    opacity: 0.4;
    margin-top: 12px;
    font-size: 1.3rem;
    margin-bottom: 12px;
}


@media screen and (max-width:760px) {
    .timeline-job{
        font-size: 1.5rem;
    }
    .timeline-title .badge{
        font-size: 1.5rem;
    }
    .timeline-date{
        margin-top: 9px;
        font-size: 1.1rem;
        margin-bottom: 9px;
    }
    .timeline-desc{
        font-size: 0.9rem;
    }
}